<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    
    <xacro:property name="lidar_radius"             value="0.025"/>
    <xacro:property name="lidar_thickness"          value="0.040"/>
    <xacro:property name="lidar_offset_x"           value="0.230"/>
    <xacro:property name="lidar_offset_z"           value="0.098"/>

    <!-- Lidar -->
    <joint name="lidar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar_frame"/>
        <origin xyz="${lidar_offset_x} 0.0 ${lidar_offset_z}" rpy="0 0 3.14159"/> <!-- Replaced pi with 3.14159 -->    
    </joint>

    <link name="lidar_frame">
        <visual>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_thickness}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_thickness}"/>
            </geometry>
        </collision>
    </link>

</robot>